node_modules
.pnpm-store
.turbo
dist
build
coverage
.next
.expo
.expo-shared
*.tsbuildinfo
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
!.env.example
apps/*/.env
playwright-report
test-results
blob-report
ios
android
*.log
.vscode/*
!.vscode/extensions.json
.idea
.vercel
.cache
*.pem
packages/db/src/generated
.tessera-storage
.tessera-storage-test

.sentryclirc
